body {
    background-image: url(img/body_new2.png);
    
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    }

body, html { height:100%; }

#myCanvas {
    position:absolute;
    width:100%;
    height:100%;
}